<div class="dropdown">
  <a
    class="nav-link dropdown-toggle d-flex align-items-center"
    id="profileDropdown"
    data-bs-toggle="dropdown"
  >
    <div class="profile-icon">
      <%= currUser.username.charAt(0).toUpperCase() %>
    </div>
  </a>

  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
    <li class="dropdown-item-text">
      <strong>@<%= currUser.username %></strong>
    </li>
    <li><hr class="dropdown-divider" /></li>
    <li>
      <a class="dropdown-item" href="/logout">Logout</a>
    </li>
  </ul>
</div>
