body {
  font-family: "montserrat", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* Navbar */
.navbar {
  height: 5rem;
  padding: 10px;
  background-color: #fff;
}

.navbar-brand i {
  font-size: 2rem;
  color: #fe424d;
}

.nav-link {
  color: #222 !important;
  font-weight: 600 !important;
}

/* footer */
.f-info {
  text-align: center;
  display: flex;
  height: 8rem;
  background-color: #e8e8e8;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.f-info-item,
.f-info-socials,
.f-info-links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-info-socials i {
  font-size: 1.5rem;
  color: #222;
  margin-right: 1.5rem;
}

.f-info-links a {
  margin-right: 1rem;
  text-decoration: none;
  color: #222 !important;
}

.f-info-links a:hover {
  color: #fe424d !important;
  transition: 0.3s;
  text-decoration: underline;
}

.form-control:focus,
.form-select:focus {
  outline: none !important;
  border: none !important;
  box-shadow: 0 0 4px 4px #fe424d !important;
}

/* listings card */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 2rem !important;
  width: 100% !important;
  object-fit: cover !important;
  height: 20rem;
  opacity: 1;
}

.card-img-top:hover {
  opacity: 0.9;
  background-color: #fff;
}

.card-body {
  padding: 0 !important;
}

.card-text {
  font-weight: 400 !important;
  color: #222 !important;
  margin-top: 10px;
}

.listing-link {
  text-decoration: none !important;
}

/* Buttons Styles of New page, edit final page and delete button */
.new-btn,
.edit-page-btn,
.del-btn,
.signup-btn {
  padding: 10px 20px !important;
  background-color: #fe424d !important;
  border: none !important;
  transition: box-shadow 0.3s ease-in !important;
  font-weight: 600 !important;
}

.signup-btn {
  color: #fff !important;
  font-weight: 600 !important;
}

.new-btn:hover,
.edit-page-btn:hover,
.del-btn:hover,
.signup-btn:hover,
.search-btn:hover,
.clear-filters-btn:hover {
  box-shadow:
    0 0 0 2px #fff,
    0 0 0 4px #fe424d !important;
}

/* Show page  */
.show-img {
  height: 40vh !important;
}

.btns {
  display: flex;
  align-items: center;
  margin-left: 20rem;
}

.edit-btn {
  padding: 8px 15px !important;
  font-weight: 600 !important;
  transition: box-shadow 0.3s ease-in !important;
  margin-right: 6rem !important;
}

.edit-btn:hover {
  box-shadow:
    0 0 0 2px #fff,
    0 0 0 4px #000 !important;
}

.edit-btn a {
  color: #fff !important;
  text-decoration: none !important;
}

.signupHeading {
  background-color: #fe424d;
  color: #fff;
  padding: 5px;
  text-align: center;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.signup-form {
  background-color: #dddddd55;
  padding: 2rem;
  border-radius: 1rem;
}

.signup-form .existsAcc a,
.newAcc a {
  text-decoration: none;
  color: #fe424d;
}

.signup-form .existsAcc a:hover,
.newAcc a:hover {
  text-decoration: underline;
}

/* Map styling */
#map {
  height: 350px;
  width: 100%;
  border-radius: 2rem;
}

/* Adding styles filters in index page */
.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter {
  text-align: center;
  margin: 1rem 2rem 0 0;
  opacity: 0.7;
  transition: 0.3s ease;
}

.filter p {
  font-size: 0.8rem;
}

.filter:hover {
  opacity: 1;
  cursor: pointer;
  transform: translateY(-2px);
}

.filter-link {
  text-decoration: none;
  color: inherit;
}

.active-filter .filter {
  opacity: 1;
  color: #fe424d;
  font-weight: 600;
}

.active-filter .filer-icon {
  color: #fe424d;
}

.clear-filters-btn {
  background-color: #fe424d !important;
  color: #fff !important;
  padding: 0.3rem 1rem !important;
  border-radius: 1rem !important;
}

.tax-toggle {
  border: 2px solid #00000077;
  border-radius: 1rem;
  height: 2.5rem;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-left: 3rem;
}

.tax-info {
  display: none;
}

/* Search bar in navbar */
.search-ip {
  padding: 0.5rem 2rem 0.5rem 2rem !important;
  border-radius: 24px !important;
  margin-right: 1rem;
}

.search-btn i {
  display: inline !important;
  margin-right: 0.5rem;
}

.search-btn {
  background-color: #fe424d !important;
  color: #fff !important;
  border-radius: 2rem !important;
  padding: 0.5rem 1rem 0.5rem 1rem !important;
}

/* Tax toggle button */
.form-check-input:checked {
  background-color: #fe424d !important;
  border-color: 0 0 0 0.25rem #fe424d !important;
  transition: all 0.3s ease !important;
}

.form-check-input {
  border: 0.1px solid #ccc !important;
}

.form-check-input:checked {
  border: 1px solid #fe424d !important;
}

.form-check-input:focus {
  box-shadow: 0 0 0 1px #fe424d !important;
}

.form-check-input:checked:focus {
  box-shadow: #fe424d !important;
}

.profile-icon {
  width: 2.2rem;
  height: 2.2rem;
  background-color: #000;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  transition: 0.3s ease;
  color: #fff;
  font-weight: 700;
}

.profile-icon:hover {
  background-color: #fe424d;
}

#profileDropdown::after {
  display: none !important;
}
